#contact-section{
	background: #212121;
	color: #FFF;
}

.contact-section-column{
	width: auto;
}

.contact-info{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 8px;
}

.contact-icon{
	width: 24px;
	height: 24px;
	filter: invert(1);
	margin-right: 16px;
}

#contact-section-social-network{
	margin-top: 32px;
}

.social-network-icon{
	width: 48px;
	height: 48px;
	filter: invert(1);
	margin-right: 32px;
	cursor: pointer;
}

#copyright{
	text-align: right;
	border-top: 1px solid rgba(255, 255, 255, 0.54);
	padding-top: 16px;
	margin-top: 56px;
	font-size: 12px;
}