#home-section{
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 54px;
	height: calc(100vh - 54px);
	padding: 0;
}

#home-title{
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 16px;
}

#home-section-info{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	top: 50%;
	left: 16vw;
	z-index: 1;
}

#home-section-background{
	background: url("../assets/pictures/dana_03.jpg") center no-repeat;
	background-size: cover;
	background-position: 25vw -25vh;
	width: 100%;
	z-index: 0;
}

@media (max-width: 424px) {
  #home-section-background {
  	background-position: 0;
  }
	#home-section-info{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}