/*===========================================================================================================*/
/* NAVIGATION BAR */
/*===========================================================================================================*/

#nav-bar{
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	background: #FAFAFA;
	padding: 4px 32px;
	width: 100%;
	min-height: 54px;
	top: 0;
	left: 0;
	z-index: 99;
}

@media (max-width: 424px) {
  #nav-bar {
  	justify-content: center;
  }
}

.nav-bar-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
}

.nav-bar-option{
	box-sizing: border-box;
	padding: 8px 8px;
	margin: 0 8px;	
  font-weight: bold;
	cursor: pointer;
	user-select: none;
}

.nav-bar-option:active{
	background: #EEE;
}

#nav-bar-title{
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
}