#portfolio-section{
	padding-bottom: 32px;
}

#portfolio-gallery{
  background: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  line-height: 2;
  column-count: 3;
  padding: 100px 100px;
  column-gap: 200px;
}

@media (max-width: 424px) {
  #portfolio-gallery {  
  	column-count: 1;
  }
}

.portfolio-img{
  width: 100%;
	cursor: pointer;
	transition: all 0.3s ease;
  user-select: none;
  margin-bottom: 75px;
}

.portfolio-img:hover{
	filter: brightness(70%);
}
