#portfolio-section{
	padding-bottom: 32px;
}

#portfolio-gallery{
	background: #212121;  
  width: 100%;
  line-height: 0;
  column-count: 5;
  column-gap: 0px;
}

@media (max-width: 424px) {
  #portfolio-gallery {  
  	column-count: 1;
  }
}

.portfolio-img{
  width: 100%;
	cursor: pointer;
	transition: all 0.3s ease;
   user-select: none;
}

.portfolio-img:hover{
	filter: brightness(50%);
}