#portfolio-section{
	padding-bottom: 32px;
}

#portfolio-gallery{
	background: #FAFAFA;	
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

@media (max-width: 424px) {
  #portfolio-gallery {
  	column-count: 2;
  }
}

.portfolio-img{
  width: 100% !important;
  height: auto !important;
	cursor: pointer;
	transition: all 0.3s ease;
}

.portfolio-img:hover{
	filter: brightness(50%);
}