/*===========================================================================================================*/
/* PAGE COMMON STYLES */
/*===========================================================================================================*/

html, body, div, span, p, img, u, li{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body{
	width: 100%;
	height: 100%;
	line-height: 1.25;
	font-family: 'Signika';
  font-weight: 400;
	color: rgba(0,0,0,0.87);
  background: #FAFAFA;
}

/*===========================================================================================================*/
/* COMMON ELEMENTS */
/*===========================================================================================================*/

.section{
	box-sizing: border-box;
	width: 100%;
	padding: 72px 16vw;	
}

.section-title{
	font-size: 32px;
	margin-bottom: 64px;
}

.section-description{
	font-size: 20px;
	margin-bottom: 32px;
}